click~=8.0
cycler~=0.0
matplotlib~=3.0
nltk~=3.0
pandas~=1.0
Pillow~=9.0
pluggy~=1.0
pytest~=6.0
python-dateutil~=2.0
tqdm~=4.0
colorama
cramjam
exceptiongroup
fastparquet
flake8
fsspec
mccabe
pycodestyle
pyflakes

